$red: #FF2B06;

@import "~bootswatch/dist/darkly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/darkly/bootswatch";

@font-face {
  font-family: "haarlem-deco";
  src: url("/static/fonts/haarlem-deco/Haarlem-Deco.otf") format("opentype"),
       url("/static/fonts/haarlem-deco/Haarlem-Deco.ttf") format("truetype");
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  height: 100% !important;
  font-size: 120%;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: #1f1e1c !important;
}

#__next {
  height: 100% !important;
}

@font-face {
    font-family: Madrid;
    src: url(/static/Madrid.ttf);
}

#nprogress .bar {
  background: $red;
}

#nprogress .spinner-icon {
  border-top-color: $red;
  border-left-color: $red;
}

#nprogress .peg {
  box-shadow: 0 0 10px $red, 0 0 5px $red;
}

.bg-dark {
  background-color: #1f1e1c !important;
}

.bold {
  font-weight: 900;
}

.red {
  color: $red;
}

.bold.white {
  color: #ffffff;
}

.custom-alert {
  background: rgba(111,40,0,10);  /* fallback for old browsers */
  background: -webkit-radial-gradient(rgba(111,20,0,10) 1%, #200122);  /* Chrome 10-25, Safari 5.1-6 */
  background: radial-gradient(rgba(111,20,0,10) 1%, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media (min-width: 992px) {
  .mx-md-6 {
    margin-right: 15rem!important;
    margin-left: 15rem!important;
  }

  .text-center-desktop {
    text-align: center;
  }
}