@import url('https://fonts.googleapis.com/css?family=Lato:700i');

$red: #FF2B06;

.coming-soon {
  font-family: 'Lato', sans-serif;
  font-size: 2.5em;

  @media (max-width: 1125px) {
    font-size: 1.5em;
  }
}

@keyframes fadeInLeftCustom {
  from {
    opacity: 0;
    transform: translate3d(-9%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInComingSoon {
  animation-name: fadeInRight;

  @media (max-width: 767px) {
    animation-name: fadeInLeftCustom;
  }
}

.grid-divider {
  overflow-x: hidden;
  position: relative;

  @media (max-width: 767px) {
    overflow-x: visible;
    height: inherit;
    left: 5%;
    border-left: 6px solid $red;
    border-spacing: 2px;
  }
}

.grid-divider > [class*="col-"]:nth-child(n + 2):after {
  content: "";
  background-color: $red;
  position: absolute;
  top: 0;
  bottom: 0;

  @media (max-width: 767px) {
    width: 0;
    height: 0;
    left: 0;
    top: 0;
  }

  @media (min-width: 768px) {
    width: 3px;
    height: auto;
    left: -1px;
  }
}