#flex-container {
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    background-image: url("/static/countdown/GRAPHIC 2.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

@media (max-width: 1280px) {
    #flex-container {background-size: 1280px}
}

#flex-container > * {margin: 0 auto;}

#flex-container h1, #flex-container h2 {color: white}
#flex-container h1 {font-size: 8vw}
#flex-container h2 {font-size: 2vw}

@media (max-width: 1280px) {
    #flex-container h1 {font-size: 10vw}
    #flex-container h2 {font-size: 5vw}
}

.accent {
    position: absolute;
    left: 0;
    right: 0;
}

#boxy {
    width: 80vw;
    right: 8vw;
}

@media (min-width: 1280px) {
    #boxy {
        width: 50vw;
        right: 5vw;
    }
}