$bg-color: #1f1e1c;

@font-face {
  font-family: 'haarlem-deco';
  src: url('/static/fonts/haarlem-deco/Haarlem-Deco.otf') format('opentype'),
    url('/static/fonts/haarlem-deco/Haarlem-Deco.ttf') format('truetype');
}

h1,
h3 {
  font-family: 'haarlem-deco';
}

h1 {
  font-size: 5rem;
}

.venue {
  width: 100%;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
  h1,
  h3 {
    font-family: 'haarlem-deco' !important;
  }

  h1 {
    font-size: 5rem !important;
  }

  a,
  a:visited,
  a:active,
  a:hover {
    color: #ff2b06;
  }

  .section-text {
    padding-left: 5vw !important;
    padding-right: 5vw !important;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;

    @media screen and (max-width: 1023px) {
      font-size: 14px;
      padding-top: 20px;
    }
  }
}

.venue-maps {
  .maps-container {
    #maps-iframe {
      min-height: 88vh;
      @media screen and (max-width: 768px) {
        min-height: 80vh;
      }
    }
  }
}
