$red: #FF2B06;

@font-face {
  font-family: "haarlem-deco";
  src: url("/static/fonts/haarlem-deco/Haarlem-Deco.otf") format("opentype"),
       url("/static/fonts/haarlem-deco/Haarlem-Deco.ttf") format("truetype");
}

.red-text {
  color: #FF2B06;
  font-weight: 500;
  font-family: 'haarlem-deco';
}

.white-text {
  font-weight: 500;
  font-family: 'haarlem-deco';
}

.speaker-section {
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("/static/speakers/bg.png");
  width: 100%;
  p {
    font-size: 12pt;
    text-align: justify;
    margin-top: 30px;
  }
}

.nyoman-section {
  min-height: 92vh;
  padding-top: 10px;
  .title-img-parent {
    justify-content: center;
    align-items: center;
    display: flex;

    @media (max-width: 768px) {
      .title-img {
        width: 90% !important;
      }
    }

    .title-img {
      width: 50%;
      height: auto;
      width: auto;
    }
  }

  .nyoman-img-parent {
    padding-top: 6px;
    justify-content: center;
    align-items: center;
    display: flex;
    .nyoman-img {
      max-width: 65%;
      height: auto;
      width: auto;
    }
  }

  @media (max-width: 768px) {
    .nyoman-name {
      align-items: center !important;
      font-size: 45pt !important;
      padding-bottom: 90px;
      p {
        font-size: 11pt;
      }
    }
  }
  .nyoman-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 60pt;
    margin-top: 50px;
    .red-text {
      line-height: 0.9;
    }
    
    @media (max-width: 768px) {
      margin-top: 0px;
      .white-text, p {
        margin-left: 0px !important;
      }
      p {
        width: 80vw !important;
      }
    }

    .white-text {
      line-height: 0.8;
      margin-left: 80px;
    }

    p {
      margin-left: 80px;
      width: 30vw;
    }
  }
}

@media (max-width: 768px) {
  .gadis-section {
    padding-top: 20px;
  }
}

.gadis-section {
  min-height: 92vh;
  width: 100%;
  padding-bottom: 20px;

  @media (min-width: 769px) {
    .mobile-size {
      display: none !important;
    }
  }
  @media (max-width: 768px) {
    .web-size {
      display: none !important;
    }
    p {
      width: 80vw !important;
    }
  }

  .gadis-name.mobile-size {
    padding-top: 5px;
    align-items: center;
    .fname, .fname .white-text {
      font-size: 45pt !important;
      padding-left: 10px;
    }
  }

  .gadis-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    .fname {
      font-size: 60pt;
      display: flex;

      .red-text {
        line-height: 1;
      }

      .white-text {
        padding-left: 20px;
        font-size: 60pt;
        line-height: 1;
      }
    }

    .white-text {
      font-size: 40pt;
      line-height: 0.8;
    }

    p {
      width: 30vw;
    }
  }

  .gadis-img-parent {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 20px;

    .gadis-img {
      max-width: 70%;
      height: auto;
      width: auto;
    }
  }
}

@media (max-width: 768px) {
  .loangga-section {
    padding-top: 30px !important;
    padding-bottom: 20px !important;
  }  
}

.loangga-section {
  min-height: 92vh;
  width: 100%;
  .loangga-img-parent {
    justify-content: center;
    align-items: center;
    display: flex;
    .loangga-img {
      max-width: 70%;
      height: auto;
      width: auto;
    }
  }
  @media (max-width: 768px) {
    .loangga-name {
      align-items: center;
      font-size: 45pt !important;
      .white-text {
        padding-left: 0px !important;
      }
      p {
        padding-left: 0px !important;
        width : 80vw !important;
      }
    }
  }

  .loangga-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 60pt;
    .red-text {
      line-height: 0.9;
    }
    .white-text {
      line-height: 0.8;
      padding-left: 70px;
    }
    p {
      padding-left: 70px;
      width: 30vw;
    }
  }
}

@media (min-width: 769px) {
  .salman-section {
    .mobile-size {
      display: none !important;
    }
  }
}

@media (max-width: 768px) {
  .salman-section {
    padding-top: 30px;
    padding-bottom: 20px;

    .web-size {
      display: none !important;
    }

    .salman-name {
      font-size: 45pt !important;
      .white-text {
        margin-left: 0px !important;
      }
      p {
        margin-left: 0px !important;
        width: 80vw;
      }
    }
  }
}

.salman-section {
  min-height: 92vh;
  width: 100%;
  .salman-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-size: 60pt;

    .red-text {
      line-height: 1;
      align-self: center;
    }

    .white-text {
      margin-left: 200px;
      line-height: 1;
      align-self: center;
    }

    p {
      margin-left: 200px;
      align-self: center;
    }
  }

  .salman-img-parent {
    justify-content: center;
    align-items: center;
    display: flex;
    .salman-img {
      max-width: 70%;
      height: auto;
      width: auto;
    }
  }
}
