@font-face {
  font-family: "haarlem-deco";
  src: url("/static/fonts/haarlem-deco/Haarlem-Deco.otf") format("opentype"),
       url("/static/fonts/haarlem-deco/Haarlem-Deco.ttf") format("truetype");
}

.gallery-section {
  padding: 5px 5%;

  .pagination-wrapper {
    overflow-x:auto;
  }
  
  .pagination {
    justify-content: center;
    margin:8px;
  }
  
  .data-slice {
    margin-top: 15px;
  }

  .page-link {
    background-color: transparent;
  }

  .page-link:hover {
    background-color: #595959;
  }

  .page-item.disabled .page-link {
    background-color: #1F1E1C;
    color: #636363;
  }

  .page-item.active .page-link {
    background-color: #FF0000;
  }

}

#gallery-loading-container {
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-family: 'haarlem-deco'
  }
}
