nav .navbar-brand {
  margin-right: 0;
}

nav .nav-logo{
  width: 100px;
}

nav.navbar {
  background-color: rgba(0,0,0,0.45) !important;
  padding: 12px 45px 12px 25px;
}

nav button.login-nav {
  display: none;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  border: 0;
  cursor: pointer;
}

nav .navbar-collapse {
  font-size: 14px;
  letter-spacing: 1.3px;
}

nav .navbar-nav a.nav-link,
nav .navbar-nav .search-nav .search-title {
  color: #fff !important;
}

nav .navbar-nav li {
  padding: 0px 8px;
}

nav .navbar-nav li.vr-container {
  display: flex;
  align-self: center;
  padding: 0px 18px;
}

nav .navbar-nav .vertical-rule {
  padding: 0;
  border-right: solid 1px #fff;
  height: 16px;
}

nav .navbar-nav .search-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

nav .navbar-nav .search-nav .search-input {
  height: 24px;
  width: 120px;
  border-radius: 0.9rem;
  background-clip: unset;
  border: none;
  margin-left: 18px;
  font-size: 14px;
}

nav .navbar-nav .search-nav .search-input:focus {
  box-shadow: none;
}

.custom-toggler.navbar-toggler {
  border-width: 0;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

@media (max-width: 991px) {
  nav .navbar-brand {
    margin-right: 0;
  }

  .nav-logo {
    width: 100px;
  }

  nav button.login-nav {
    display: inline-block;
  }

  nav .navbar-collapse {
    font-size: initial;
  }

  nav .navbar-nav li.vr-container {
    display: none;
  }

  nav.navbar {
    padding: 12px 25px;
  }

  nav .navbar-nav {
    padding-top: 10px;
  }

  nav .navbar-nav li {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  nav .navbar-nav .login-nav {
    display: none;
  }

  nav .navbar-nav .search-nav {
    justify-content: center;
    height: 44px;
  }

  nav .navbar-nav .search-nav .search-icon {
    display: list-item;
    color: #fff;
  }

  nav .navbar-nav .search-nav .search-input {
    width: 50%;
  }

  nav .navbar-nav li {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  /* .custom-toggler.navbar-toggler {
    border-color: rgb(255,255,255) !important;
  } */
  /* .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  } */
}
