$bg-color: #1F1E1C;

.about-TEDx {
  width: 100%;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.about-TEDx:not(.sponsor) {
  margin-bottom: 20px;
}

.about-TEDx.prev-section {
  flex-direction: row-reverse;
}

.about-TEDx .section-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about-TEDx.today-section .section-img{
  background-image: linear-gradient(to right, transparent 0%, transparent 50%, $bg-color), url("/static/about/1.jpg");
  @media screen and (max-width: 425px) {
    background-image: linear-gradient(to bottom, $bg-color, transparent 1%, transparent 0%, transparent 50%, $bg-color), url("/static/about/1.jpg");
  }
}

.about-TEDx.prev-section .section-img {
  background-image: linear-gradient(to left, transparent 0%, transparent 50%, $bg-color), url("/static/about/2.jpg");
  @media screen and (max-width: 425px) {
    background-image: linear-gradient(to bottom, $bg-color, transparent 1%, transparent 0%, transparent 50%, $bg-color), url("/static/about/2.jpg");
  }
}

.about-TEDx.next-section .section-img {
  background-image: linear-gradient(to right, transparent 0%, transparent 50%, $bg-color), url("/static/about/3.jpg");
  @media screen and (max-width: 425px) {
    background-image: linear-gradient(to bottom, $bg-color, transparent 1%, transparent 0%, transparent 50%, $bg-color), url("/static/about/3.jpg");
  }
}

.about-TEDx.today-section .section-img {
  height: 92vh;

  @media screen and (max-width: 425px) {
    height: 48vh;
  }
}

.about-TEDx.next-section .section-img,
.about-TEDx.prev-section .section-img {
  height: 100vh;

  @media screen and (max-width: 425px) {
    height: 50vh;
  }
}

.about-TEDx .section-text {
  padding-left: 72px !important;
  padding-right: 72px !important; 
  font-size: 16px;
  display: flex;
  align-items: center;

  @media screen and (max-width: 1023px) {
    font-size: 14px;
    padding-top: 20px;
    padding-left: 10vw !important;
    padding-right: 10vw !important; 
  }
}

.about-TEDx .section-text p {
  text-align: justify;
}

.about-TEDx.sponsor {
  margin: 0 auto;
  margin-bottom: 30px;
  flex-direction: unset;
  h1 {
    font-family: "haarlem-deco";
    text-align: center;
  }
  #large-container, #medium-container, #small-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .img-container {
      margin: 10px;
    }
  }
}